.secondSection {
  ul {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      position: relative;
      color: white;
      list-style: none;

      .line {
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background: green;
        opacity: 0;
        transition: opacity .3s;

        &.visible {
          opacity: 1;
        }
      }
    }
  }

  // tab content
  section {
    padding: 16px;

    h2 {
      color: white;
    }

    img {
      width: 100%;
      margin-top: 16px;
      border-radius: 6px;
    }
  }
}
